extends layout
block append cssIncludes
    link(rel='stylesheet', href='/stylesheets/style_tablesAll.css')
block append jsIncludes
    script(rel='text/javascript', src='/javascripts/client_tablesAll.js', charset='utf-8')
    script(rel='text/javascript', src='/javascripts/client_layoutHelper.js', charset='utf-8')
block append header
    div(id="wrapHeaderDiv")
        p(class="header2")= title
block content
    div(id="wrapperDiv")
        - each row in results
            div(class="div_tbl")

                if row.table_type == 'BASE TABLE'
                    div(class="div_tbl_space")
                    div(class="div_tbl_header")
                        div(class="tblName")
                            span(class="headName")
                                | Name:
                            =row.table_name
                        div(class="tblType")
                            span(class="headName")
                                | Type:
                            =row.table_type

                    div(class="div_tbl_space")
                    div(class="tblComment")
                        span(class="headName")
                            | Comment:
                        p= row.table_comment
                    div(class="div_tbl_space")
                else if row.table_type == 'VIEW'
                    div(class="div_tbl_space")
                    div(class="div_tbl_header")
                        div(class="tblName")
                            span(class="headName")
                                | Name:
                            =row.table_name
                        div(class="tblType")
                            span(class="headName")
                                | Type:
                            =row.table_type

                        div(class='viewCharacterSetClient')
                            span(class="headName")
                                | Character Set Client:
                            = row.character_set_client
                        div(class='viewCollationConnection')
                            span(class="headName")
                                | Collation Connection:
                            = row.collation_connection
                    div(class="div_tbl_space")
                div(class="tblColumnList")
                    table(class='tblColumnList-Table')
                        thead
                            tr
                                th(class='table-Field') Field
                                th(class='table-Type') Type
                                th(class='table-Collation') Collation
                                th(class='table-Null') Null
                                th(class='table-Key') Key
                                th(class='table-Default') Default
                                th(class='table-Comment') Comment

                        - each listRow in row.columnList
                            tr
                                td= listRow.Field
                                td= listRow.Type
                                td= listRow.Collation
                                td= listRow.Null
                                td= listRow.Key
                                td= listRow.Default
                                td= listRow.Comment

                div(class="div_tbl_space")
                div(class="tblBody")
                    div(class="tblBodySub")
                        span(class="headName")
                            | Function / Create Table Syntax:
                        p(class="tblBodyText")= row.tblBody

                div(class="div_tbl_space")

